.form-container {
    padding: 40px;
    border-radius: 10px;
  }
 
  .ql-editor{
    height: 50vh !important;
    overflow-y: scroll !important;
  }
  /* messageStyles.css */
.ant-message-notice {
  z-index: 20000 !important;
}

.ant-message {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -24px !important; /* Adjust to fine-tune */
  margin-left: -80px !important; /* Adjust to fine-tune */
}

.additional-links {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

.additional-links a {
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  color: #1890ff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.additional-links a:hover {
  color: #0056b3;
  text-decoration: underline;
  transform: scale(1.05);
}

.additional-links a:active {
  color: #003366;
  transform: scale(1);
}
